.App {
  text-align: center;
}

.Feedback-header {
  background-color: #5785ce;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.Feedback-title {
  font-size: 2em;
}

h4 {
  font-style: italic;
}